<!-- items.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Events</title>
</head>
<body>
  <form method="post" action="/events/added">
    <label>Select CSV file: </label><input type="file" name="inputfile"/>

    <button type="submit">Submit</button>
  </form>
  
</body>
</html>
