<html>
<title>
    Project
</title>
<body>
    <form method="get" action="/events/find">
        <label>Latitude :</label><input type="text" name="latitude" required/>
        <label>Longitude :</label><input type="text" name="longitude" required/>
        <label>date in format "YYYY-MM-DD" :</label><input type="text" name="startdate" required/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>